<main class="text-center user-main">
<div class="clearfix p-2 ">
    <a href="<%= new_user_path %>" class="float-right badge">Log In</a>
    <a href="<%=user_index_path%>" class="float-left badge"><i class="fas fa-arrow-left font-weight-bold"></i></a>
    </div>
    <h3 class="pb-4 pt-3 text-center font-weight-bold">Snapscan</h3>
    <form action="<%= authentication_user_index_path %>" method="POST" class="container">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <div class="form-group">
        <input name="email" type="email" class="form-control" required placeholder="Enter email" id="email">
      </div>
      <div class="form-group">
        <input name="password" type="password" class="form-control" required placeholder="Enter password" id="pwd">
      </div>
      <div class="form-group">
      <%if !flash[:msg].nil?%>
      <span class="alert alert-danger"><%=flash[:msg]%></span>
    <%end%>
    </div>
      <button type="submit" name="commit" class="btn btn-primary container pt-1">Submit</button>

    </form>
</main>
