<div class="pt-3 container text-body">
    <h4 class="text-center pt-3 pb-2 font-weight-bold text-capitalize"><%= session[:user_name] %> Groups</h4>
    <table class="pt-3 table table-striped">
    <thead>
      <tr>
        <th>Transactions</th>
        <th>Date</th>
        <th>Logo</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |item| %>
      <tr>
        <td><%= item.name%></td>
        <td><%= item.created_at%></td>
        <td>nil</td>
        <td><a href="<%= join_profile_path(:id => item.id)%>" class="btn btn-success"><%= isjoined(session[:current_user],item.id)%></a></td>
      </tr>
      <%end%>
    </tbody>
  </table>
  <div class="container">
    <a href="<%= new_group_profile_path(session[:current_user]) %>" class="btn btn-primary badge text-capitalize text-center">new Group</a>
    <a href="btn btn-primary badge text-capitalize text-center"></a>
  </div>
</div>