<div class="pt-3 container text-body">
    <h4 class="text-center pt-3 pb-2 font-weight-bold text-capitalize"><%= session[:user_name] %> Transactions</h4>
    <table class="pt-3 table table-striped">
    <thead>
      <tr>
        <th>Transactions</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Group</th>
      </tr>
    </thead>
    <tbody>
      <%@tran.each do |item|%>
      <tr>
        <td><%= item.name%></td>
        <td><%=item.amount%></td>
        <td><%= item.created_at%></td>
       
       <%
       if Groupmember.exists?(transaction_id: item.id)
       obj=Groupmember.where(transaction_id: item.id).first
       grou=Group.where(id: obj.group_id).first
       else
       grou=Group.new
       end
       %>
        <td><img src="<%= url_for(grou.cover_pic) if grou.cover_pic.attached? %>" class="img" /></td>
      </tr>
      <%end%>
    </tbody>
  </table>
  <div class="btn btn-primary w-25">
    <a href="<%= new_tansaction_profile_path %>" class="badge text-capitalize text-center">new Transactions</a>
  </div>
</div>